{%load static%}
<!DOCTYPE html>
<html>
    <!DOCTYPE html>
    
    
    <head> 
        <meta charset="utf-8"/>   
        <meta name ="description" content="sport"/>
        <title>Baseball Ticket 3</title>
       
        <link rel="stylesheet" href="{% static 'css/TicketPageBG.css' %}">
    </head>
    
    
    <body>
        <div class = "bg-image">
         <!--the main shapes-->
        <div class= "Rectangle76">
            <form id="Rectangle76" name="" method="" Action="">
                <img src="{%static 'image/Baseball t3/Rectangle 76.png' %}" alt="photo" width: 556px height: 765px>
            </form>
        </div>
        
        <div class= "Rectangle77">
            <form id="Rectangle77" name="" method="" Action="">
                <img src="{%static 'image/Baseball t3/Rectangle 77.png' %}" alt="photo">
            </form>
        </div>

        <div class="homeicon21">
            <form id="homeicon21" name="" method="Get" Action="">
              <a href="/MainPage/"> <img src="{%static 'image/Baseball t3/homeicon2 1.png' %}" width: 66px height: 69px></a>  
            </form>
        </div>

        <div class="back">
            <form id="back" name="" method="" Action="">
                <a onclick="history.back()" ><Image src="{%static 'image/baseball t3/back 1.png' %}" height: 66px width: 69px></a>
            </form>
        </div>
        
        <div class="JetsatBills">
            <form id="JetsatBills" name="" method="" Action="">
              <p> <b>Yankees at Cardinals</b> <br> <font size="4" color =#4d4d4d> Jan 10. at 7:00 pm </font> </p> 
            </form>
        </div>

        <!-- insert the field viwes here -->
        
        <div class="v1">
                <img src="{%static 'image/baseball t3/800x600 (56) 1.png' %}" alt="photo">
        </div>
        
        <div class="V2">
                <img src="{%static 'image/baseball t3/800x600 (57) 1.png' %}" alt="photo">
        </div>
        
        <div class="V3">
            <img src="{%static 'image/baseball t3/800x600 (58) 1.png' %}" alt="photo">
        </div>
        
        <div class="V4">
            <img src="{%static 'image/baseball t3/800x600 (59) 1.png' %}" alt="photo">
        </div>
        
        <!--the price of the ticket-->
                                                <!--$94 USD Amazing Deal Section 213, Row 4-->
        <div class="moneyV1">
            <font size="4" color ="black"> <p> <b>$94 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 213, Row 4 </font> 
        </div>
        
        <div class="moneyV2">
            <font size="4" color ="black"> <p> <b>$102 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 200, Row 7 </font>
        </div>
    
        <div class="moneyV3">
            <font size="4" color ="black"> <p> <b>$80 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 117, Row 5 </font>
        </div>
        
        <div class="moneyV4">
            <font size="4" color ="black"> <p> <b>$185 USD</b> <br></font> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 200, Row 1 </font>
        </div>
        <!--the buy button-->

        <div class="buyV1">
            <form id="buyV1" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Baseball t3/buy 1.png' %}"></a>  
            </form>
        </div>

        <div class="buyV2">
            <form id="buyV2" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Baseball t3/buy 2.png' %}"></a>  
            </form>
        </div>

        <div class="buyV3">
            <form id="buyV3" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Baseball t3/buy 1.png' %}"></a>  
            </form>
        </div>

        <div class="buyV4">
            <form id="buyV4" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Baseball t3/buy 2.png' %}"></a>  
            </form>
        </div>
        
        <div class="overlaysignin">
              <img src="{%static 'image/Baseball t3/Overlay sign in.png' %}" alt="w" > 
        </div>
    </div>
    </body>    
    
<html>