{%load static%}
<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <title>Baseball Main Page</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}" />
    <link rel="stylesheet" href="{% static 'css/header.css' %}" />
    <link rel="stylesheet" href="{% static 'css/nav.css' %}" />
    <link rel="stylesheet" href="{% static 'css/content.css' %}" />
    <link rel="stylesheet" href="{% static 'css/dropdown.css' %}" />
    <link
      href="//db.onlinewebfonts.com/c/4626c20f1677e7629dade5bef0d1ebde?family=TTRoundsCondensedW10-Rg"
      rel="stylesheet"
      type="text/css"
    />
  </head>

  <body>
    <script>
      function toggleDropdown() {
        console.log("tapped");
        document.getElementById("myDropdown").classList.toggle("show");
      }

      // Close the dropdown if the user clicks outside of it
      window.onclick = function (event) {
        console.log("clicked");
          var dropdowns = document.getElementsByClassName("dropdown-content")[0];
          if (event.target.matches("img")) {
              // change display to none
              dropdowns.style.display = null;
            } else {
            dropdowns.style.display = 'none';

        }
      }; 
    </script>
    <div class="main">
      <div class="navBody">
        <div class="navHead">
          <div class="navRow">
            <a href="/MainPage/">
              <object
                data="\static\icons\Home.svg"
                width="50"
                height="50"
              ></object>
            </a>
            <br><br><p>          Sports</p>

            <a onclick="toggleDropdown()" class="dropbtn"
              ><img src="/static/image/Home/ArrowS.png" alt="arrow"
            /></a>
            <div class="dropdown">
              <div id="myDropdown" class="dropdown-content">
                <a href="/MainPage/NBAMainPage/">NBA</a>
                <a href="/MainPage/NFLMainPage/">NFL</a>
                <a href="/MainPage/TennisMainPage/">Tennis</a>
                <a href="/MainPage/MLBMainPage/">MLB</a>
              </div>
            </div>
          </div>
        </div>
        <div class="navTail">
          <a href="/LoginPage/">
            <p>LOGIN</p>
          </a>
        </div>
      </div>
      <div  class="header">
        <div class="headerTitle">
          <p class = "slide-in" class="title">
            Home / MLB<br /><strong>Baseball Tickets</strong>
          </p>
          <p class = "slide-in" >
            Tickets to your favorite MLB Football events. All right here. Let's
            go.
          </p>
        </div>
        <img class = "fade-in" src="\static\image\Baseball Main\Frame 1.png" alt="MLB Tickets" />
      </div>
      <div class="content">
        <p class = "slide-left">&nbsp;&nbsp;Popular MLB Games</p>
        <div class="contentRow">
          <div class="contentBox">
            <img class = "fade-in" src="\static\image\Baseball Main\mongo3 1 1.png" alt="ticket" />
            <a class = "fade-in" href="MLBTicket1"><strong>Red Sox at Yankees</strong></a>
            <p>Jan 1. Yankee Stadium</p>
          </div>
          <div class="contentBox">
            <img class = "fade-in" src="\static\image\Baseball Main\mongo3 2 1.png" alt="ticket" />
            <a class = "fade-in" href="MLBTicket2"><strong>Yankees at Dodgers</strong></a>
            <p>Jan 9. Dodger Stadium</p>
          </div>
          <div class="contentBox">
            <img class = "fade-in" src="\static\image\Baseball Main\mongo3 3 1.png" alt="ticket" />
            <a class = "fade-in" href="MLBTicket3"><strong>Yankees at Cardinals</strong></a>
            <p>Jan 10. Dodger Stadium</p>
          </div>
        </div>

        <p class = "slide-left">Upcoming MLB Games</p>
        <div class="contentRow">
          <div class="contentBox">
            <img class = "fade-in" src="\static\image\Baseball Main\mongo3 4 1.png" alt="ticket" />
            <a class = "fade-in" href="MLBTicket4"><strong>Red Sox at Braves</strong></a>
            <p>Jan 5. CoolToday Park</p>
          </div>
          <div class="contentBox">
            <img class = "fade-in" src="\static\image\Baseball Main\mongo3 5 1.png" alt="ticket" />
            <a class = "fade-in" href="MLBTicket5"><strong>Rangers at Royals</strong></a>
            <p>Jan 30. Surprise Stadium</p>
          </div>
          <div class="contentBox">
            <img class = "fade-in" src="\static\image\Baseball Main\mongo3 6 1.png" alt="ticket" />
            <a class = "fade-in" href="MLBTicket6"><strong>Mariners at Padres</strong></a>
            <p>Jan 23. Peoria Sports Complex</p>
          </div>
        </div>
      </div>
    </div>
  </body>
</html>