{%load static%}
<!DOCTYPE html>
<html lang="en">
    <head>
     <meta charset="UTF-8">
     <meta http-equiv="X-UA-Compatible" content="IE=edge">
     <meta name="viewport" content="width=device-width, initial-scale=1.0">
     <title>NFL Ticket 2</title>
     
     <link rel="stylesheet" href="{% static 'css/TicketPageBG.css' %}">
    </head>

  <body>
    <div class = "bg-image">
    <!--the main shapes-->
    <div class= "Rectangle76">
        <form id="Rectangle76" name="" method="" Action="">
            <img src="{%static 'image/NFL T2/Rectangle 76.png' %}" alt="photo" width: 556px height: 765px>
        </form>
    </div>
    
    <div class= "Rectangle77">
        <form id="Rectangle77" name="" method="" Action="">
            <img src="{%static 'image/NFL T2/Rectangle 77.png' %}" alt="photo">
        </form>
    </div>

    <div class="homeicon21">
        <form id="homeicon21" name="" method="Get" Action="">
          <a href="/MainPage/"> <img src="{%static 'image/NFL T2/homeicon2 1.png' %}" width: 66px height: 69px></a>  
        </form>
    </div>

    <div class="back">
        <form id="back" name="" method="" Action="">
            <a onclick="history.back()" ><Image src="{%static 'image/NFL T2/Back 1.png' %}" height: 66px width: 69px></a>
        </form>
    </div>
    
    <div class="JetsatBills">
        <form id="JetsatBills" name="" method="" Action="">
          <p> <b>Giants at Commanders
            
            
            </b> <br> <font size="4" color =#4d4d4d> Th Jan 12. at 7:00 pm </font> </p> 
        </form>
    </div>

    <!-- insert the field viwes here -->
    
    <div class="v1">
            <img src="{%static 'image/NFL T2/800x600 (28) 1.png' %}" alt="photo">
    </div>
    
    <div class="V2">
            <img src="{%static 'image/NFL T2/800x600 (29) 1.png' %}" alt="photo">
    </div>
    
    <div class="V3">
        <img src="{%static 'image/NFL T2/800x600 (30) 1.png' %}" alt="photo">
    </div>
    
    <div class="V4">
        <img src="{%static 'image/NFL T2/800x600 (31) 1.png' %}" alt="photo">
    </div>
    
    <!--the price of the ticket-->

    <div class="moneyV1">
        <font size="4" color ="black"> <p> <b>$90 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 213, Row 4 </font> 
    </div>
    
    <div class="moneyV2">
        <font size="4" color ="black"> <p> <b>$190 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 190, Row 3 </font>
    </div>

    <div class="moneyV3">
        <font size="4" color ="black"> <p> <b>$81 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 211, Row 6 </font>
    </div>
    
    <div class="moneyV4">
        <font size="4" color ="black"> <p> <b>$98 USD</b> <br></font> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 220, Row 7 </font>
    </div>
    <!--the buy button-->

    <div class="buyV1">
        <form id="buyV1" name="" method="Get" Action="">
          <a href="/Payment/"> <img src="{%static 'image/NFL T2/buy 1.png' %}"></a>  
        </form>
    </div>

    <div class="buyV2">
        <form id="buyV2" name="" method="Get" Action="">
          <a href="/Payment/"> <img src="{%static 'image/NFL T2/buy 2.png' %}"></a>  
        </form>
    </div>

    <div class="buyV3">
        <form id="buyV3" name="" method="Get" Action="">
          <a href="/Payment/"> <img src="{%static 'image/NFL T2/buy 3.png' %}"></a>  
        </form>
    </div>

    <div class="buyV4">
        <form id="buyV4" name="" method="Get" Action="">
          <a href="/Payment/"> <img src="{%static 'image/NFL T2/buy 4.png' %}"></a>  
        </form>
    </div>
    
    <div class="overlaysignin">
    
          <img src="{%static 'image/NFL T2/Overlay sign in.png' %}" alt="w"  > 
    
    </div>
    
</div>


    
  </body>



</html>