<!DOCTYPE html>
{%load static%}
<!DOCTYPE html>
<html>
    <!DOCTYPE html>
    
    
    <head> 
        <meta charset="utf-8"/>   
        <meta name ="description" content="sport"/>
        <title>Tennis ticket 1</title>
        
        <link rel="stylesheet" href="{% static 'css/TicketPageBG.css' %}">
    </head>
    
    
    <body>
        <div class = "bg-image">
         <!--the main shapes-->
        <div class= "Rectangle76">
            <form id="Rectangle76" name="" method="" Action="">
                <img src="{%static 'image/Tennis t1/Rectangle 78.png' %}" alt="photo" width: 556px height: 765px>
            </form>
        </div>
        
        <div class= "Rectangle77">
            <form id="Rectangle77" name="" method="" Action="">
                <img src="{%static 'image/Tennis t1/Rectangle 77.png' %}" alt="photo">
            </form>
        </div>

        <div class="homeicon21">
            <form id="homeicon21" name="" method="Get" Action="">
              <a href="/MainPage/"> <img src="{%static 'image/Tennis t1/homeicon2 1.png' %}" width: 66px height: 69px></a>  
            </form>
        </div>

        <div class="back">
            <form id="back" name="" method="go" Action="">
                <a onclick="history.back()" ><Image src="{%static 'image/Tennis t1/back 1.png' %}" height: 66px width: 69px></a>
            </form>
        </div>
            <!--the date and place-->
        <div class="RedSoxatYankeesSun">
            <form id="RedSoxatYankeesSun" name="" method="" Action="">
              <p> <b>US Open Tennis - S 12</b> <br> <font size="4" color =#4d4d4d> Sun Jan 1. at 7:00 pm </font> </p> 
            </form>
        </div>

        <!-- insert the field viwes here -->
        
        <div class="v1">
                <img src="{%static 'image/Tennis t1/1788 (3) 1.png' %}" alt="photo">
        </div>
        
        <div class="V2">
                <img src="{%static 'image/Tennis t1/1788 (2) 1.png' %}" alt="photo">
        </div>
        
        <div class="V3">
            <img src="{%static 'image/Tennis t1/1788 (1) 1.png' %}" alt="photo">
        </div>
        
        <div class="V4">
            <img src="{%static 'image/Tennis t1/1788 1.png' %}" alt="photo">
        </div>
        
        <!--the price of the ticket-->
                                                <!--$94 USD Amazing Deal Section 213, Row 4-->
        <div class="moneyV1">
            <font size="4" color ="black"> <p> <b>$94 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 213, Row 4 </font> 
        </div>      
                                                <!--$100 USD Amazing Deal Section 200, Row 7-->
        <div class="moneyV2">
            <font size="4" color ="black"> <p> <b>$70 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 120, Row 5 </font>
        </div>
                                                <!--$107 USD Amazing Deal Section 109, Row 5 -->
        <div class="moneyV3">
            <font size="4" color ="black"> <p> <b>$65 USD</b></font> <br> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 180, Row 3 </font>
        </div>
                                                <!-- $91 USD Amazing Deal Section 230, Row 7 -->
        <div class="moneyV4">
            <font size="4" color ="black"> <p> <b>$74 USD</b> <br></font> <font size="3" color ="black"> Amazing Deal </font>  <font size="2" color ="black"> Section 200, Row 7 </font>
        </div>
        <!--the buy button-->

        <div class="buyV1">
            <form id="buyV1" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Tennis t1/buy 2.png' %}"></a>  
            </form>
        </div>

        <div class="buyV2">
            <form id="buyV2" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Tennis t1/buy 3.png' %}"></a>  
            </form>
        </div>

        <div class="buyV3">
            <form id="buyV3" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Tennis t1/buy 4.png' %}"></a>  
            </form>
        </div>

        <div class="buyV4">
            <form id="buyV4" name="" method="Get" Action="">
              <a href="/Payment/"> <img src="{%static 'image/Tennis t1/buy 5.png' %}"></a>  
            </form>
        </div>

        <div class="overlaysignin">
            <img src="{%static 'image/Tennis t1/Overlay sign in.png' %}" alt="photo"  > 
        </div>

        <!--the whole field here -->
    </div>
        
    </body>    
    <html> 